body {
    background-color: #f0eae4;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0 !important;
}

li::marker {
    color: #BB6647;
}

nav.navbar.bg-dark.border-body {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 32%), 0 6px 20px 0 rgb(0 0 0 / 37%);
}

header.container-lg {
    --bs-gutter-x: none;
}

#hero {
    background-image: url(/static/images/cuisine_header.jpeg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 1700px;
    margin: auto;
}

div.card {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(51,51,51,0) 0%, rgba(19,19,19,0.9276960784313726) 55%);
    color: white;
    opacity: 95%;
}

div.card-body {
    margin: auto;
    margin-top: 24rem;
    flex: none;
}

select.form-select {
    color: #5c5c5c;
    font-size: 1.2rem;
    background-size: 20px 22px;
}

main {
    margin: auto;
    padding: 1.75rem;
    padding-top: 1rem;
    padding-bottom: 7rem;
    max-width: 1320px;
}

#cuisine_generator {
    padding: 2.5rem;
    text-align: center;
}

#title_cuisine_generator {
    color: #565e54;
    padding-bottom: 1rem;
}

div#search_generator {
    display: flex;
}

select.form-select {
    border-radius: 0;
    border-top-left-radius: 0.33rem;
    border-bottom-left-radius: 0.33rem;
}

#generator_btn {
    background-color: #BB6647;
    color: white;
    --bs-btn-border-color: none;
    border-radius: 0;
    border-top-right-radius: 0.33rem;
    border-bottom-right-radius: 0.33rem;
}

#generator_btn:hover {
    background-color: #80442e;
    color: white;
}

#generator_btn:active {
    background-color: #80442e;
    color: white;
    transform: translateY(2px);
}

input#exampleDataList.form-select {
    border-radius: 0;
    border-top-left-radius: 0.33rem;
    border-bottom-left-radius: 0.33rem;
}

hr {
    border: 1.2px solid #574032;
    opacity: .7;
}

#generated_content {
    display: none;
    margin-top: 2.3rem;
}

div#generated_content.container{
    margin-top: 0;
}

#title_generated {
    margin-bottom: 1rem;
    color: #434942;;
}


.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.accordion{
    --bs-accordion-bg: none;
    --bs-accordion-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
}

h2.accordion-header {
    background-color: #737d66;
}

button.accordion-button {
    font-size: 1.2rem;
    color: #f0eae4;
}

.accordion-button:not(.collapsed) {
    background-color: #4f5546;
    color: #f0eae4;
}

div#starter_header, div#main_header, div#dessert_header {
    margin-bottom: 1rem;
}

img{
    display: block; 
    margin: auto;
    margin-bottom: 0.7rem;

}

.instructions, .summary {
    margin-top: 1rem;
}

aside.col {
    max-width: 35%;
}

footer{
    position: fixed;
    bottom: 0;
    height: 3.5rem;
    background: #7d4147;
    color: white;
    text-align: center;
    flex: auto;
    width: 100%;
}

p.container{
    padding-top: 1.2rem;
}

