<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinify</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>

    </nav>

    <header>

    </header>

    <main>
        <article id="artical_wrapper">
            <nav id="local_nav">

            </nav>

            <article class="course">

            </article>

            <article class="course">

            </article>

            <article class="course">

            </article>

        </article>

        <aside>

        </aside>


    </main>

    <footer>

    </footer>

    <script src="/static/Script.js" ;></script>
</body>

</html>